* {
    box-sizing: border-box;
}

header{
    background-color: #00FFFF;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    color: black;

    span{
        float: right; 
        font-size: 15px;
    }

 }