* {
  box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.card {
  float: left;
  width: 20%;
  padding: 10px;
  background-color: lightgrey;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 5px;
  .card_d1 {
    margin-bottom: 10px;

    .close_card {
      float: right;
      cursor: pointer;
    }
    .close_card:hover {
      background: #4da6ff;
      color: #fff;
    }
  }

  div {
    .input_task {
      float: left;
      border-radius: 5px;
    }
    .addtask {
      padding: 0px;
      width: 25%;
      color: white;
      float: right;
      text-align: center;
      font-size: 35px;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 0;
      font-weight: bold;
    }
    .addtask:hover {
        background: #4da6ff;
        color: #fff;
      }
  }

  div {
    .task {
      width: 100%;
      border-radius: 10px;
      background-color: whitesmoke;
      padding: 10px;
      margin-top: 5px;
      .span_task {
        word-wrap: break-word;
      }
      .star {
        cursor: pointer;
      }
      .close {
        float: right;
        cursor: pointer;
      }
      .e_f_r {
        float: right;
      }
    }
    .author {
      margin-top: 10px;
    }
  }
}


